@model LabOfTask05.Models.Student

@{
    ViewBag.Title = "Students";
}

<h2>Students</h2>

<label>Full Name: </label> @Model.FamilyName @Model.MiddleName @Model.Name <br />
@*<label>Birth Day: </label> @Model.BirthDate <br />*@
@*<label>Age: </label> @Model.GetCurrentAge <br />*@
<label>Email: </label> @Model.YourEmail <br />
<label>Number Phone: </label> @Model.PhoneNumber <br />
<label>Faculty: </label> @Model.Faculty <br />
@*<label>Admission: </label> @Model.Admission <br />*@
@*<label>Course No: </label> @Model.GetCourseNo <br />*@
@*<label>Semester No: </label> @Model.GetSemesterNo <br />*@